.animal-container{

width:90%;

margin:auto;

padding-top:120px;

text-align:center;

}

.animal-container h1{

font-size:52px;

color:#d9ffb8;

margin-bottom:10px;

}

.animal-container p{

color:#d5d5d5;

margin-bottom:45px;

font-size:20px;

}

.animal-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:35px;

}

.animal-card{

text-decoration:none;

background:rgba(255,255,255,.07);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

border-radius:25px;

padding:45px 20px;

transition:.35s;

color:white;

}

.animal-card:hover{

transform:translateY(-10px);

background:rgba(137,255,119,.15);

box-shadow:0 20px 40px rgba(154,230,110,.3);

}

.emoji{

font-size:70px;

margin-bottom:18px;

}

.animal-card h2{

font-size:30px;

margin:0;

}