.colouring-container{

width:90%;

margin:auto;

padding-top:120px;

text-align:center;

}

.colouring-container h1{

font-size:60px;

margin-bottom:10px;

color:#d9ffb8;

}

.colouring-container p{

font-size:22px;

margin-bottom:50px;

color:#d6d6d6;

}

.category-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;

}

.category-card{

text-decoration:none;

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

border-radius:25px;

padding:45px;

transition:.35s;

color:white;

}

.category-card:hover{

transform:translateY(-10px);

background:rgba(137,255,119,.15);

box-shadow:0 20px 40px rgba(154,230,110,.3);

}

.emoji{

font-size:75px;

margin-bottom:15px;

}

.category-card h2{

font-size:35px;

margin:0;

}