.quiz-home{

padding-top:120px;

width:90%;

margin:auto;

text-align:center;

}

.quiz-home h1{

font-size:55px;

margin-bottom:15px;

color:#d9ffb8;

}

.quiz-home p{

font-size:22px;

margin-bottom:45px;

color:#d7d7d7;

}

.difficulty-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:35px;

}

.difficulty{

text-decoration:none;

padding:50px;

border-radius:25px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.1);

transition:.35s;

color:white;

}

.difficulty:hover{

transform:translateY(-10px);

box-shadow:0 15px 35px rgba(154,230,110,.35);

}

.easy{

border-left:8px solid #00d26a;

}

.medium{

border-left:8px solid orange;

}

.hard{

border-left:8px solid red;

}

.confirm-box{

width:700px;

margin:170px auto;

padding:50px;

text-align:center;

background:white;

border-radius:25px;

}

.confirm-box h1{

font-size:45px;

margin-bottom:25px;

color:#222;

}

.confirm-box p{

font-size:22px;

margin-bottom:35px;

color:#555;

}

.confirm-buttons{

display:flex;

justify-content:center;

gap:35px;

}

.confirm-buttons button{

padding:15px 40px;

font-size:20px;

cursor:pointer;

border:none;

border-radius:12px;

background:#2d8a3b;

color:white;

}

.confirm-buttons button:hover{

background:#246c30;

}