.scratch-page{

padding:120px 40px;

text-align:center;

color:white;

}

.subtitle{

font-size:22px;

margin-bottom:40px;

}

.card-grid{

display:grid;

grid-template-columns:repeat(2,180px);

gap:35px;

justify-content:center;

margin-bottom:50px;

}

.mystery-card{

width:180px;

height:220px;

border-radius:20px;

background:linear-gradient(135deg,#4CAF50,#2E7D32);

display:flex;

justify-content:center;

align-items:center;

font-size:70px;

cursor:pointer;

transition:.3s;

box-shadow:0 10px 25px rgba(0,0,0,.3);

}

.mystery-card:hover{

transform:translateY(-8px) scale(1.05);

}

#questionSection{

margin-top:30px;

}

#answerInput{

width:350px;

padding:15px;

font-size:18px;

border:none;

border-radius:12px;

margin-top:20px;

}

#submitAnswer{

padding:15px 30px;

margin-left:15px;

border:none;

border-radius:12px;

background:#7CFC00;

cursor:pointer;

font-size:18px;

}

.scratch-container{

position:relative;

width:500px;

height:500px;

margin:40px auto;

}

#animalImage{

width:500px;

height:500px;

object-fit:contain;

border-radius:20px;

}

#scratchCanvas{

position:absolute;

left:0;

top:0;

}