{% extends "base.html" %}

{% block title %}Gramolearn Quiz{% endblock %}

{% block content %}

<link rel="stylesheet"
href="{{ url_for('static', filename='css/quiz_engine.css') }}">

<div class="quiz-container">

    <!-- TOP BAR -->

    <div class="quiz-header">

        <div class="round-box">

            <h2 id="roundTitle">Round 1</h2>

            <p id="roundType">MCQs</p>

        </div>

        <div class="timer-box">

            <h2 id="timer"></h2>

        </div>

        <div class="score-box">

            <h2>Score</h2>

            <p id="score">0</p>

        </div>

    </div>

    <!-- Progress -->

    <div class="progress">

        <div id="progressBar"></div>

    </div>

    <!-- Question Card -->

    <div class="question-card">

        <h3 id="questionNumber"></h3>

        <h1 id="questionText"></h1>

        <!-- MCQ -->

        <div id="mcqContainer" class="answer-container">

        </div>

        <!-- TRUE FALSE -->

        <div id="tfContainer" class="answer-container" style="display:none;">

            <button class="tf-btn" data-value="true">

                TRUE

            </button>

            <button class="tf-btn" data-value="false">

                FALSE

            </button>

        </div>

        <!-- FILL -->

        <div id="fillContainer" class="answer-container" style="display:none;">

            <input

            id="fillAnswer"

            placeholder="Type your answer...">

        </div>

        <!-- NAV -->

        <div class="nav-buttons">

            <button id="prevBtn">

                Previous

            </button>

            <button id="nextBtn">

                Next

            </button>

        </div>

    </div>

</div>

<!-- Pass Flask JSON -->

<script>

const questions = {{ questions|tojson }};

const totalQuestions = questions.length;

const totalTime = {{ timer }};

</script>

<script src="{{ url_for('static', filename='js/quiz_engine.js') }}"></script>

{% endblock %}