{% extends "base.html" %}

{% block title %}{{ animal|title }}{% endblock %}

{% block content %}

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/painting.css') }}">

<div class="paint-page">

    <!-- PALETTE -->

    <div class="palette">

    <div class="color active"
         style="background:#ff0000;"
         data-color="#ff0000"></div>

    <div class="color"
         style="background:#ff7f00;"
         data-color="#ff7f00"></div>

    <div class="color"
         style="background:#ffff00;"
         data-color="#ffff00"></div>

    <div class="color"
         style="background:#00b300;"
         data-color="#00b300"></div>

    <div class="color"
         style="background:#0099ff;"
         data-color="#0099ff"></div>

    <div class="color"
         style="background:#7d3cff;"
         data-color="#7d3cff"></div>

    <div class="color"
         style="background:#8B4513;"
         data-color="#8B4513"></div>

    <div class="color"
         style="background:#000000;"
         data-color="#000000"></div>


    <!-- NEW COLOURS -->

    <div class="color"
         style="background:#ff69b4;"
         data-color="#ff69b4"></div>

    <div class="color"
         style="background:#00c9a7;"
         data-color="#00c9a7"></div>

    <div class="color"
         style="background:#ffffff;"
         data-color="#ffffff"></div>

    <div class="color"
         style="background:#c0c0c0;"
         data-color="#c0c0c0"></div>

    <div class="color"
         style="background:#ffd166;"
         data-color="#ffd166"></div>

</div>


    <div class="paint-layout">

        <!-- LEFT : DRAWING -->

        <div class="canvas-card">

            <canvas
                id="drawingCanvas"
                width="750"
                height="750">
            </canvas>


            <div class="controls">

                <button id="resetBtn">
                    Reset
                </button>

                <button id="downloadBtn">
                    Download
                </button>

            </div>

        </div>


        <!-- RIGHT : REFERENCE -->

        <div class="reference-card">

            <h2>Reference</h2>

            <img
                id="referenceImage"
                src="{{ url_for(
                    'static',
                    filename='images/colouring/' 
                    + category 
                    + '/reference/' 
                    + animal 
                    + '.png'
                ) }}"
                alt="{{ animal|title }} reference">

        </div>

    </div>

</div>


<!-- ANIMAL + CATEGORY FOR JAVASCRIPT -->

<script>
    const animal = "{{ animal }}";
    const category = "{{ category }}";

    const outlineImagePath =
        "{{ url_for('static', filename='images/colouring/' + category + '/outlines/' + animal + '.png') }}";
</script>


<script src="{{ url_for(
    'static',
    filename='js/painting.js'
) }}"></script>

{% endblock %}